ALPACA_API_KEY=
ALPACA_API_SECRET=
ALPACA_PAPER=
ALPHA_VANTAGE_API_KEY=
CRYPTOPANIC_API_KEY=
FINNHUB_API_KEY=
GEMINI_API_KEY=
GEMINI_API_KEYS=
GROQ_API_KEY=
PRICE_INTERVAL=
RESEND_API_KEY=
SENDER_EMAIL=
SMTP_USER=
SMTP_PASS=
SMTP_HOST=
SMTP_PORT=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_DELAY_SECONDS=
REDDIT_MAX_SUBREDDITS=
REDDIT_MAX_USERNAMES=
REDDIT_USER_AGENT=