ALPHA_VANTAGE_API_KEY=
ALPACA_API_KEY=
ALPACA_API_SECRET=
ALPACA_PAPER=true
CRYPTOPANIC_API_KEY=
FINNHUB_API_KEY=
GROQ_API_KEY=
PRICE_INTERVAL=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_DELAY_SECONDS=
REDDIT_MAX_SUBREDDITS=
REDDIT_MAX_USERNAMES=
REDDIT_USER_AGENT=